.green-side {
    height: 20vh;
    background-color: rgb(0, 150, 136);
}

.gray-side {
    height: 80vh;
    background-color: rgb(192, 192, 192);
}

.container {
/*     background-color: rgba(168, 169, 210, 0.75);
 */    
    height: 90vh;
    top: 57px;
    left: 300px;
}

.chat-header {
    height: 10%;
    background-color: rgb(234,234,234);
}

.chat-main {
    height: 82%;
    background-color: white;
    border: solid lightgray;
    overflow-y: hidden;
}

.chat-main .col-4 {
    border-right: solid lightgray;
}

.chat-main .col-8 {
    background-image: url('../img/sfondo.png');
}

img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: solid lightgray;
}

.latest-access {
    color: antiquewhite;
}

.bell-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
}

.fa-bell-slash {
    color: rgb(142, 218, 252);
}

.search-contacts input {
    width: 85%;
    border: transparent;
    overflow-y: clip;
}

.contact {
    height: 70px;
}

.infos {
    flex-basis: 60%;
}

.green-message {
    background-color: rgba(91, 247, 91, 0.795);
    border-radius: 10px;
}

.white-message {
    background-color: white;
    width: 150px;
    border-radius: 10px;

}

.mute-chat-messages {
    height: 12%;
    background-color: rgb(142, 218, 252);
}

.chat-footer {
    height:8%;
    background-color: white;
    border: solid lightgrey;
}

.message-input {
    width: 90%;
    border: 1px solid lightgray;
}
